// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single_result {
  margin-bottom: 15px;
  p {
    margin-top: 2px;
  }
  p:first-child {
    margin-bottom: 2px;
  }
}
